@{
    ViewData["Title"] = "Workspaces";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<p>Hold on, I'll get back on this.</p>

<script>
    $().ready(function () {
        var $table = $('#table-transform');
        $table.bootstrapTable();
    });
</script>

<table id="table-transform" data-toolbar="#transform-buttons" data-show-toggle="true" data-show-columns="true" data-search="true">
    <thead>
        <tr>
            <th data-field="id">Item ID</th>
            <th data-field="name">Item Name</th>
            <th data-field="price">Item Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>test1</td>
            <td>$1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>test2</td>
            <td>$2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>test3</td>
            <td>$3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>test4</td>
            <td>$4</td>
        </tr>
        <tr>
            <td>5</td>
            <td>test5</td>
            <td>$5</td>
        </tr>
    </tbody>
</table>



