
@using Newtonsoft.Json
@model Arnis.Documents.Account

@{
    ViewData["Title"] = "Statistics";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@JsonConvert.SerializeObject(Model);

